<h1>Rooms#index</h1>
<div class='rooms'>
  <% @rooms.each do |room| %>
    <div class='name'>
      <p><%= link_to room.friend == @user ? room.requested_user.name : room.friend.name, room_path(room), method: 'get' %></p>
    </div>
  <% end %>
</div>
<div class='links'>
  <span><%= link_to 'プロフィール', user_path(@user), method: 'get' %><span>
</div>
